#pcl byg
# Ignore build directory in pcl
pcl/build/

pcl/build/
./pcl/build/
pcl/build/*
./pcl/build/*
pcl/build
./pcl/build
pcl/build/CMakeFiles/
pcl/build/CMakeFiles
pcl/build/CMakeFiles*
pcl/build/CMakeFiles/*
